[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
app = {editable = true, path = "."}
flask-sqlalchemy = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"
pytest-watch = "*"
bs4 = "*"

[requires]
python_version = "3.8"

[scripts]
server = "bash -c 'FLASK_APP=app FLASK_ENV=development flask run'"
test = "pytest"
test-watch = "ptw"
load-schema = "./bin/load_schema.py"
